<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="/styles/main.css">
<link rel="preload" href="/fonts/KiwiSoda.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/GrapeSoda.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/PearSoda.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/LycheeSoda.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/PeanutMoney.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/Notepen.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/Bonefish.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/Comicoro.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/Piacevoli.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/DoubleHomicide.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/St26k.woff" as="font" type="font/woff" crossorigin>