<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: '...Where are you?'})%>    
    <link rel="stylesheet" href="/styles/404.css">
<body>
 <p>Looks like you wandered far out to shore. Let's go back.</p>
 <p>...Or we could stay out here for a bit, if you want.</p>
    <a href="/"><p>Back</p></a> 
</body>
</html>