<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Write over this message.'})%>    
    <link rel="stylesheet" href="/styles/edit-message.css">
<body>
    <section id="paper">
        <div id="writing">
        <form method="POST"  action="/messages/<%= message._id %>?_method=PUT">
            <textarea name="content" id="inputcontent" class="textbar"></textarea><br>
            <div class="option">
                <img src="/assets/EditSprite.png" alt="">
                <input type="submit"  class="button" value="Write over message">
            </div>
        </form>
    <div class="option"><img src="/assets/BackSprite.png" alt=""><a href="/messages/<%= message._id %>"><p>Back</p></a></div>
    </section>
</div>
</body>
</html>