<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Write over this message.'})%>    
    <link rel="stylesheet" href="/styles/info.css">
<body>
<p>Welcome to Bottles Island</p>
<p>There's not a whole lot here, but plenty of messages from faraway wash up now and then.</p>
<p>You'll never know what you're gonna get, though, so pick your bottle wisely...</p>
    <a href="/"><p>Back</p></a>
</body>
</html>