<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Welcome to Bottl Island'})%>    
    <link rel="stylesheet" href="/styles/info.css">
<body>
    <div class="star"><img src="/assets/StarSprite.gif" alt=""></div>
    <div class="star"><img src="/assets/StarSprite.gif" alt=""></div>
<p>Welcome to Bottl Island</p>
<p>There's not a whole lot here, but plenty of messages from faraway wash up now and then.</p>
<p>You'll never know what you're gonna get, though, so pick your bottle wisely...</p>
<p>Fonts by <a href="https://fontenddev.com/">jeti</a></p>
    <div class="option"><img src="/assets/BackSpriteWhite.png" alt=""><a href="/"><p>Back</p></a></div>
</body>
</html>