<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Welcome to Bottles Island'})%>    
<body>
    <div id="sea">
            <% let randomarray = [] %>
            <% function fullyRandom(n) {%>
                <% randomarray[n] = messages[(Math.floor(Math.random() * messages.length))]; %>
                <% for (let x = 0; x < n; x++) { %>
                    <% randomarray[n] == messages[(Math.floor(Math.random() * messages.length))]%>
                    <% if (randomarray[x]._id == randomarray[n]._id) { %>
                        <%console.log('re-duplicate caught')%>
                        <% fullyRandom(n); %>
                        <% } %>
                    <% } %>
                <% }%>
            <% for (let r = 0; r < 5; r++) {%>
                <% randomarray[r] = messages[(Math.floor(Math.random() * messages.length))];%>
                <% for (let x = 0; x < r; x++) { %>
                    <% if (randomarray[x]._id == randomarray[r]._id) { %>
                        <%console.log(`Duplicate caught at ` + r + " " + randomarray[r].content)%>
                        <% fullyRandom(parseInt(r)); %>
                        <% } %>
                    <% } %>
                <% } %>
            <% for (let each in randomarray) {%>
                <a href="/messages/<%= randomarray[each]._id%>">
                <div>
                    <p>Message</p>
                </div>
                </a>
                <% } %>
        
    </div>
    <div id="island">
        <a href="/messages/new"><p id="create-message">Create new message</p></a>
    </div>
    <a href="/info"><p>Info</p></a>
</body>
</html>