<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Send out a new message.'})%>    
    <link rel="stylesheet" href="/styles/new-message.css">
<body>
    <section id="paper">
        <div id="writing">
    <form method="POST"  action="/messages">
        <textarea name="content" id="inputcontent" class="textbar" required></textarea>
        <div class="option">
            <img src="/assets/BottleMessageSprite.png" alt="">
            <input type="submit" class="button"  value="Bottle your message">
        </div>
    </form>
    <div class="option"><img src="/assets/BackSprite.png" alt=""><a href="/"><p>Back</p></a></div>
    </div>
    </section>
</body>
</html>