<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Send out a new message.'})%>    
    <link rel="stylesheet" href="/styles/new-message.css">
<body>
    <section id="paper">
    <form method="POST"  action="/messages">
        <textarea name="content" id="inputcontent" class="textbar" required></textarea>
        <input type="submit" value="Bottle your message">

    </form>
    <a href="/"><p>Back</p></a>
    </section>
</body>
</html>