* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "PeanutMoney";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    animation: font-animate .2s linear infinite;
    background-color: #010626FF;
    
}

#index-body {
    background-image: url("../assets/BottlesBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
    color: #010626FF;
}
#sky {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
}

#skylogo {
    width: 130px;
    height: 60px;
    

}

#sea {
    position: absolute;
    top: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

#sea-list {
    list-style-type: none;
}

.bottlesprite {
    width: 130px;
    height: 150px;
    position: relative;
    top: 0px;
}

.message:first-child,  .message:last-child {
    position: relative;
    top: 50px;
}

.message:nth-child(3) {
    position: relative;
    top: -25px;
}


#island {
    position: relative;
    top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#island>a {
    color: black;
}
#message-set {
    width: 130px;
    height: 80px;
    position: relative;
    right: 200px;
    bottom: 300px;
    
}

#info {
    position: absolute;
    bottom: 25px;
    right: 200px;
    color: black;
}

#paper {
    width: 1000px;
    height: 600px;
    background-color: white;
}

@keyframes font-animate {   
    
    0% {font-family: "PeanutMoney";
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
    }
    50% {font-family: "Comicoro";
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
    }


    75% {font-family: "Piacevoli";
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
    }
        100% {font-family: "PeanutMoney";
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}