* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "PeanutMoney";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    animation: font-animate .2s linear infinite;
    background-color: rgb(21, 22, 28);
    
}
.star {
    justify-self: none;
    align-self: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#paper {
    width: 1000px;
    height: 600px;
    background-image: url("../assets/PaperSprite.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#details {
    width: 500px;
    height: 500px;
    
}

#options {
    position: absolute;
    z-index: 1;
}
@keyframes font-animate {   
    
    0% {font-family: "PeanutMoney";
        
        
        
    }
    50% {font-family: "Comicoro";
       
       
       
    }


    75% {font-family: "Piacevoli";
       
       
        
    }
        100% {font-family: "PeanutMoney";
        
        
        
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}