* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "PeanutMoney";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    animation: font-animate .2s linear infinite;
    background-color: rgb(21, 22, 28);
    
}
.star {
    justify-self: none;
    align-self: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#paper {
    width: 1000px;
    height: 600px;
    background-image: url("../assets/PaperSprite.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#writing {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: transparent; 
    border: 0px solid black;
    animation: font-animate .2s linear infinite;
    font-size: 30px;
    cursor: pointer;
}

.option {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#inputcontent {
    width: 500px;
    height: 300px;
}

@keyframes font-animate {   
    
    0% {font-family: "PeanutMoney";
        
        
    }
    50% {font-family: "Comicoro";
       
       
       
    }


    75% {font-family: "Piacevoli";
       
       
        
    }
        100% {font-family: "PeanutMoney";
   
        
        
        }
}

@media (width: 375px) and (height: 667px) {
    #paper {
        scale: 35%;
        position: absolute;

    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 414px) and (height: 896px) {
    #paper {
        scale: 50%;
        position: absolute;

    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 390px) and (height: 844px) {
    #paper {
        scale: 40%;
        position: absolute;

    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 430px) and (height: 932px) {
    #paper {
        scale: 60%;
        position: absolute;

    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 412px) and (height: 915px) {
    #paper {
        scale: 50%;
        position: absolute;

    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 360px) and (height: 740px) {
    #paper {
        scale: 40%;
        position: absolute;
        
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 768px) and (height: 1024px), (width: 820px) and (height: 1180px) {
    #paper {
        scale: 80%;
        position: absolute;
        
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 1024px) and (height: 1366px), (width: 912px) and (height: 1368px) {
    #paper {
        scale: 90%;
        position: absolute;
        
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 540px) and (height: 720px) {
    #paper {
        scale: 50%;
        position: absolute;
        left: -250px;
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 344px) and (height: 882px) {
    #paper {
        scale: 40%;
        position: absolute;
        
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 853px) and (height: 1280px) {
    #paper {
        scale: 90%;
        position: absolute;
        
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}


@media (width: 412px) and (height: 914px) {
    #paper {
        scale: 45%;
        position: absolute;
        
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}

@media (width: 1024px) and (height: 600px) {
    #paper {
        scale: 80%;
        position: absolute;
        
    }
    #paper #message-details #message-content {
        width: 100%;
    }
    #paper #message-details #message-content p {
        width: 100%;
        letter-spacing: .25px;
        text-align: center;
        font-size: 50px;
    }
    #paper .option {
        scale: 130%;
    }
    #paper #options {
        position: absolute;
        top: 500px;
    }
}



